.comment-count{
    display: inline;
    color: #898989;
    font-size: 90%;
}

.comment-box{
    margin-left: 15px;
    margin-bottom: 20px;
}

.comment_user{
    display: inline;
    font-style: italic;
    padding-right: 15px;
}

.comment_date{
    display: inline;
    color: #898989;
}

.comment_text{
    text-align: justify;
}

.comment_text > p{
    margin-bottom: 0px;
    padding-bottom: 15px;
}

.comment-box > .comment-box{
    border-bottom: none;
    padding-left: 15px;
    border-left: 1px solid rgb(221, 221, 221);
    margin-left: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 5px;
}

.comment-form{
    margin-left: 15px;

    /*background: transparent url("/images/caption-bg.png") repeat scroll 0px 0px;*/
    background-color: #555;
    color: #9DCEDF;

    padding: 15px;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;

    margin-bottom: 20px;
}

.comment-form form{
    margin: 0;
    margin-top: 10px;
}

.comment-form .comment_user{
    padding-left: 10px;
}

.comment-form .comment_date{
    color: #ffffff;
}


.comment-form .comment-text{
    width: 98%;
    height: 80px;
}

.comment-form .comment-news-id,
.comment-form .comment-parent-id{
    display: none;
}

.parent-comment{
    background-color: #DCF7FF;

    border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -webkit-border-radius: 12px;
    -o-border-radius: 12px;

    padding: 5px;
}

a.remove-parent-link{
    cursor: pointer;
    display: inline-block;
    text-align: center;
    background-color: #C0C0C0;
    background-image: linear-gradient(to bottom, #C6CDDA, #C0C0C0);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #000;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;

    padding: 1px 5px;
}

a.remove-parent-link:hover{
    text-decoration: none;
    background-color: #C0C0C0;
    background-image: linear-gradient(to bottom, #d8d8d8, #d0d7e5);
}

.parent-info-div{
    display: inline;
    margin-left: 10px;
}

.comment-manager-box{
    margin-bottom: 0;
    padding-bottom: 15px;
}

.comment-manager-box a.comment-manager-link{
    cursor: pointer;
    padding-left: 5px;
}

.comment_id{
    display: none;
}

.comment-form #comment_text.comment-text {
    height: 150px;
}