html, body{
    margin: 0;
    height: 100%;
}

body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
}

h1, h2, h3, h4, h5
{
    font-weight: normal;
    font-variant: normal;
    white-space: normal;
    margin: 0px 0px 15px;
    font-family: "Lobster",Arial,Verdana,serif;
}

a {
    color: #898989;
    text-decoration: none;

    transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
    -webkit-transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
    -moz-transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
    -o-transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
    -ms-transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;

}

h2 a {
    color: #555;
}

#page
{
    margin-top: 5px;
}

#bg-image{
    height: 100%;
    width: 100%;

    /*background: url("/images/bk.jpg") repeat fixed;*/
    /*background-color: transparent;*/
    background-image: none;
    background-color: #e5e5e5;

    position: fixed;
    z-index: -1;
    opacity: 0.4;
}


#page::after{

}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

a:hover{
    color: #6399cd;
}



div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}


ul.left{
    float: left;
}

ul.right{
    float: right;
}

#page{
    width: 100%;
    border: 0;
    margin-top: 55px;
    height: 100%;
}

#mainmenu
{
    background:white url(bg.gif) repeat-x left top;
    display: table;
    width: 100%;
}

#mainmenu ul
{
    padding:6px 20px 5px 20px;
    margin:0px;
}

#mainmenu ul li
{
    display: inline;
}

#mainmenu ul li a
{
    color:#ffffff;
    background-color:transparent;
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
    padding:5px 8px;
}

#mainmenu ul li a:hover,
#mainmenu ul li.active a
{
    color: #6399cd;
    background-color:#EFF4FA;
    text-decoration:none;
}

#main_menu a[data-toggle=collapse]{
    margin: 11px 0px;
}


#main_menu{
    width: 100%;
    background: #FCF7F2 none repeat scroll 0% 0%;
    border-bottom: 4px solid #D7D7D7;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    margin: 0px auto;
}

#main_menu a.brand:hover{
    border-top: 2px solid #9dcedf;
    color: #9dcedf;
}

#main_menu .container{
    width: 100%;
    float: left;
}

#main_menu .additional_elements li + li{
    border-left: 1px solid #D7D7D7;
}

#main_menu .main_elements a,
#main_menu .additional_elements > li > a,
#main_menu a.brand{
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Roboto Condensed","Verdana",sans-serif;
    text-align: center;
    line-height: 18px;
    border-top: 2px solid #FFF;
    padding: 15px 20px;
}

#main_menu a.brand{
    margin: 0;
}

#main_menu .additional_elements > li > a{
    font-size: 12px;
    padding: 15px 20px;
}

#main_menu .additional_elements > li.open > a{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.125) inset;
}


#main_menu .main_elements li{
    padding: 0px;
    margin: 0px;
    border-left: 1px solid #D7D7D7;
}

#main_menu .additional_elements > li > a:hover,
#main_menu .main_elements > li > a:hover{
    border-top: 2px solid #9dcedf;
    color: #9dcedf;
}

.countdown-container {
    background-color: #2E2E2E;
    color: #9DCEDF;
    padding: 1%;
    display: table;
    width: 98%;
}

.countdown-container.expired{
    height: 100px;
}

.countdown-title{
    margin: 0 auto;
    display: table;
    width: 100%;
    text-align: center;
}

.countdown-container.expired .countdown-title{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}

.countdown-container.expired .countdown-title h3{
    margin-bottom: 15px;
    line-height: 100%;
    font-size: 55px;
}

.countdown-title h3{
    margin-bottom: 15px;
    line-height: 100%;
    font-size: 24.5px;
}

.countdown-row {
    margin: 0px auto;
    display: table;
    font-family: "Roboto Condensed",Arial,sans-serif;
}

.countdown-row .countdown-section {
    display: block;
    font-size: 1.71429em;
    float: left;
    text-align: center;
    min-width: 140px;
    line-height: 1.1;
}

.countdown-row .countdown-amount {
    font-size: 1.3333em;
    display: block;
}

.main-content-box{
    width: 100%;
}

.content-box{
    padding: 2%;
    margin: 0 auto;
}

.content-box.limit-content-width{
    max-width: 1200px;
}

#content
{

}

#content > div.form{
    margin: 0px auto;
    width: auto;
    display: table;
}

.content-box .list-view{
    padding-top: 0;
}

.left-side-box{
    width:20%;
    padding-top: 20px;
    float : left;
    display: inline;
}

.left-side-box h2{
    font-size: 22px;
    line-height: 24px;
}

.left-side-box ul.menu{
    margin: 0;
    padding: 0;
}

.left-side-box ul.menu > li:first-child {
    border-top: 1px dotted #CED8DF;
}


.left-side-box ul.menu > li {
    background: transparent url("/images/simple-nav-arrow.png") no-repeat scroll 0px 11px;
    border-bottom: 1px dotted #CED8DF;
    list-style: outside none none;
    margin: 0px;
    display: block;
    padding: 5px 0px 5px 15px;
}

.left-side-box ul.menu > li a{
    color: #898989;
    text-decoration: none;

    transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
    -webkit-transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
    -moz-transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
    -o-transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
    -ms-transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
}

.left-side-box ul.menu > li a:hover{
    color: #9dcedf;
}

#arrows{
    margin: 0px auto;
    color: #898989;
    float: none;
    position: fixed;
    top: 40%;
    right: 10px;
    height: 115px;
    z-index: 500;
}

#arrows span{
    display: none;
}

#to-top {
    vertical-align: top;
    height: 50px;
    display: table;
    margin-bottom: 15px;
}

#to-bottom {
    vertical-align: bottom;
    height: 50px;
    display: table;
}


.backtotop {
    float: right;
    text-align: center;
    width: 50px;
    height: 50px;

    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;

    border-color: #d0d0d0;
    background-color: rgb(223, 223, 223);
    background-image: url("/images/top-arrow.png");
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    opacity: 0.1;
}

.backtobottom {
    float: right;
    text-align: center;
    width: 50px;
    height: 50px;

    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;

    border-color: #d0d0d0;
    background-color: rgb(223, 223, 223);
    background-image: url("/images/top-arrow.png");
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    opacity: 0.1;

    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

#to-top a:hover,
#to-bottom a:hover{
    text-decoration: none;
    background-color: rgb(223, 223, 223);
    opacity: 1;
}

.site_button {
    border-bottom-colors: none;
    -webkit-border-bottom-colors: none;
    -moz-border-bottom-colors: none;
    -o-border-bottom-colors: none;
    -ms-border-bottom-colors: none;

    border-left-colors: none;
    -webkit-border-left-colors: none;
    -moz-border-left-colors: none;
    -o-border-left-colors: none;
    -ms-border-left-colors: none;

    border-right-colors: none;
    -webkit-border-right-colors: none;
    -moz-border-right-colors: none;
    -o-border-right-colors: none;
    -ms-border-right-colors: none;

    border-top-colors: none;
    -webkit-border-top-colors: none;
    -moz-border-top-colors: none;
    -o-border-top-colors: none;
    -ms-border-top-colors: none;

    border-image: none;

    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;

    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
    margin-bottom: 0px;
    text-align: center;
    vertical-align: middle;
    background-color: #0CF;
    background-image: linear-gradient(to bottom, #08C, #0CF);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    padding: 7px 12px;
    font-size: 12px;
}

.site_button:disabled{
    background-image: linear-gradient(to bottom, #727a77, #b2c0b8);
}

.left-side-box ul.menu > li.spoiler-element > a{
    cursor: pointer;
}

.left-side-box ul.menu > li.spoiler-element > a{
    display: block;
}

.left-side-box ul.menu > li.spoiler-element > div{
    display: none;
}

.left-side-box ul.menu > li.spoiler-element > div input[type="text"],
.left-side-box ul.menu > li.spoiler-element > div input[type="password"]{
    width: 92%;
}

.left-side-box ul.menu > li.spoiler-element.active{
    padding: 0;
    background: none;
}

.left-side-box ul.menu > li.spoiler-element.div:not(.active){
    margin-left: -13px;
}

.left-side-box ul.menu > li.spoiler-element:first-child > a{
    display: none;
}

.left-side-box ul.menu > li.spoiler-element:first-child > div{
    display: block;
}

.outer-slider-box{
    display: table;
    margin-bottom: 10px;
    width: 100%;
}

.inner-slider-box #sortField_scroll{
    height:10px;
    width:100%;
}

.left-slider-label{
    display: inline;
    float: left;
    width: 25%;
}

.middle-slider-label {
    display: inline;
    float: left;
    width: 48.4%;
}

.middle-slider-label input{
    text-align: center;
    width: 100%;
    border:0;
    color:#f6931f;
    font-weight:bold;
    box-shadow:none;
    background-color: transparent;
}

.right-slider-label{
    display: inline;
    float: right;
    text-align: right;
    width: 25%;
}

input.form-input-field{
    width: 98%;
}

.form h3{
    margin-top: 16px;
}

#restore-password-link{
    cursor: pointer;
}

#restore-password-modal a{
    color: #ffffff;
}

#carousel-box{
    background: transparent url("/images/caption-bg.png") repeat scroll 0px 0px;
    color: #9DCEDF;
}

#main_carousel{
    width: 100%;
    margin: 0 auto;
}

.carousel-inner > .item > img{
    width: 100%;
}

.carousel-inner > .item {
    transition: left 3s linear 3s;
    -webkit-transition: left 3s linear 3s;
    -moz-transition: left 3s linear 3s;
    -o-transition: left 3s linear 3s;
    -ms-transition: left 3s linear 3s;
}

.page-image-box{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.page-image-box #page-image {
    width: 100%;
    max-height: 1000px;
    margin: 0px auto;
    display: table;
    z-index: 2;
    opacity: 0.9999;
}

.page-image-box .blured-page-image{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;

    filter: blur(8px);
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);

    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);

    height: 100%;
    width: 100%;
}



.by-center{
    text-align: center;
}

.rememberMe input{
    float: left;
}

.rememberMe label{
    float: left;
    margin-left: 6px;
}

.only-text{
    text-align: justify;
    line-height: 20px;
}