
.single_news{
    padding: 20px 20px 45px 20px;
}

hr.news-spliter{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(200, 200, 200, 0.75), rgba(0, 0, 0, 0));
    width: 85%;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 40px;
    margin-top: 40px;
}

hr.comment-padding{
    margin-top: 40px;
    margin-bottom: 20px;
}

.news_title_box{
    display: table;
    margin: 0 auto;
    height: 20%;
}

.news_title_box .news_title{
    float: left;
    font-size: 32px;
    font-family: "Lobster";
    line-height: 32px;

}

news.front .front_news_title{
    border: 1px solid #ddd;
}

.news_title_box .news_title a{
    text-decoration: none;
}

.news_title_box .news_status{
    float: left;
}

.news_preview{
    font-size: 14px;
    font-family: sans-serif;
    color: #333;
    line-height: 1.5;
    overflow: hidden;
    height: 57%;
    text-align: justify;
}

.news_footer_box {
    color: rgb(75, 103, 131);
    font-weight: bold;
    font-size: 13px;
    line-height: 100%;
    padding: 20px 0px;
    display: table;
    width: 100%;
}

.news_footer_box .news_date{
    float: left;
}

.news_footer_box .news_comment_count{
    float: left;
    color: #b5b5b5;
    font-size: 14px;
    line-height: 12px;
    padding-left: 7px;
}

.news_footer_box .news_author{
    float: right;
}

.no-preview-image-box{
    display: none;
}
.image-preview-box{
    display: none;
}

.no-preview-image-box.active{
    display: table;
}
.image-preview-box.active{
    display: table;
}

.image-preview-row{
    display: table;
}

.image-preview-row h3{
    float: left;
}

#delete-image-button{
    display: table;
    float: left;
    vertical-align: middle;
    margin-top: 16px;
    margin-left: 10px;
}

.news-preview-on-update{
    margin: 15px 0;
}

#deleteImageFlagInput{
    display: none;
}

.newsColumn .items{
    display: table;
    width: 100%;
    height: 100%;
}

.newsColumn .items .single_news.preview{
    width: 42%;
}

.newsColumn .items .single_news.preview:nth-child(2n){
    float: right;
    margin-right: 50px;
}

.newsColumn .items .single_news.preview:nth-child(2n + 1){
    float: left;
    margin-left: 50px;
}

.pager{
    margin-left: 50px;
    margin-right: 50px;
}

.news_read_more,
.news_share{
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.news_read_more a,
.news_share a{
    width: 200px;
}

ul.news-pager li a {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    padding: 7px 17px;
}


#full-image-modal{
    top: 50%;
    transform: translate(0px, -50%);
    -moz-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
    -webkit-transform: translate(0px, -50%);
    -o-transform: translate(0px, -50%);

    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;

    width: 90%;
    height: 90%;
    background-color: transparent;
    border: medium none;
    box-shadow: none;
}

#full-image-modal #fullsize-image{
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: table;
    box-shadow: 0px 3px 7px #000;
    border: 1px solid rgba(0, 0, 0, 0.3);

    position: relative;

    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;

    top: 50%;

    transform: translate(0px, -50%);
    -moz-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
    -webkit-transform: translate(0px, -50%);
    -o-transform: translate(0px, -50%);
}

img.zoom{
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
}

.zoom-out{
    cursor: pointer;
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
}

