.news-pager{
    text-align: center;
    margin: 0;
    padding: 0;
}

.news-pager li.last,
.news-pager li.first{
    display: none;
}

.news-pager li.previous{
    float: left;
}

.news-pager li.next{
    float: right;
}

.news-pager .page.selected > a {
    background: #CAEEFB none repeat scroll 0 0;
}