.single_question{
    margin-bottom: 10px;
}



.single_question .question-box,
.single_question .answer-box{
    clear: left;
    float: none;
    padding: 20px;
}

.single_question .question-box{
    background: #D6F7FF none repeat scroll 0 0;
    border: 1pt solid #D6DFFF;

    border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -ms-border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -o-border-top-left-radius: 10px;

    border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    -ms-border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -o-border-top-right-radius: 10px;
}

.single_question .answer-box{
    background: #E0FFDA none repeat scroll 0 0;
    border: 1pt solid #C3FFB7;
    border-style: none solid solid solid;

    border-bottom-left-radius: 10px;
    -moz-border-bottom-left-radius: 10px;
    -ms-border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -o-border-bottom-left-radius: 10px;

    border-bottom-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    -ms-border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -o-border-bottom-right-radius: 10px;
}

.single_question .question-box .question_status{
    color: #898989;
    float: right;
    font-size: 13px;
    line-height: 24px;
}

.single_question .question-box .question_status select{
    width: 135px;
}


.single_question .question-box .question_info_box .question_author,
.single_question .answer-box .answer_info_box .answer_author{
    display: inline;
    float: left;
    margin-right: 10px;
}

.single_question .question-box .question_info_box .question_author h3,
.single_question .answer-box .answer_info_box .answer_author h3{
    font-size: 21px;
    line-height: 24px;
    text-transform: capitalize;
    margin: 0;
}


.single_question .question-box .question_info_box .question_date,
.single_question .answer-box .answer_info_box .answer_date{
    display: inline;
    float: left;
    color: #898989;

    margin-top: 2px;
    word-wrap: break-word;
    font-size: 13px;
    line-height: 24px;
}

.single_question .question-box .question_text,
.single_question .answer-box .answer_text{
    clear: both;
}

.single_question .answer-box .answer_info_box,
.single_question .question-box .question_info_box{
    display: table;
    margin-bottom: 10px;
    width: 100%;
}


.question-text,
.answer-text{
    text-align: justify;
}

.question-text > p,
.answer-text > p{
    margin-bottom: 0px;
    padding-bottom: 15px;
}

.question-box .question-text,
.answer-text{
    width: 98%;
    height: 80px;
}

.question-box form{
    margin: 0;
}

.question-box .question-text{
    width: 98%;
    height: 80px;
}

.question_actions{
    background: #f5f5f5 none repeat scroll 0 0;
    border-bottom: 1px solid #d6dfff;

    border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -ms-border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -o-border-bottom-left-radius: 5px;

    border-left: 1px solid #d6dfff;

    border-top-right-radius: 9px;
    -moz-border-top-right-radius: 9px;
    -ms-border-top-right-radius: 9px;
    -webkit-border-top-right-radius: 9px;
    -o-border-top-right-radius: 9px;

    float: right;
    margin: -20px;
}

.question_actions a{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}

.question_actions div:hover{
    background-color: #97E9FF;
}

.question_edit_button,
.question_approve_button,
.question_delete_button{
    float: left;
    height: 20px;
    width: 20px;
    padding: 2px;
}

.question_edit_button{
    border-right: 1px solid #D6DFFF;
}

.question_approve_button{
    border-right: 1px solid #D6DFFF;
}

.question_delete_button{
    border-top-right-radius: 9px;
    -moz-border-top-right-radius: 9px;
    -ms-border-top-right-radius: 9px;
    -webkit-border-top-right-radius: 9px;
    -o-border-top-right-radius: 9px;
}

.question-filter-inner-box select{
    background: url('/images/filter.png') no-repeat 0 0;
    padding-left: 25px;
    background-position: left;
}

.question-filter-inner-box select option{
    padding-left: 25px;
}

.question-filter-inner-box select option:checked{
    padding-left: 35px;
}

