#bg-image{
    background-image: none;
    background-color: #e5e5e5;
}

#page{
    margin-top: 0px;
}

#content h1{
    width: 100%;
    text-align: center;
}

#main_menu{
    position: relative;
}

#main_menu .container{
    width: 98%;
}

#main_menu .additional_elements li + li{
    border-left: none;
}

#main_menu .additional_elements li a:hover,
#main_menu .main_elements li a:hover{
    box-shadow: none;
}

#main_menu > div{
    padding: 0;
}

#main_menu .nav-collapse.in.collapse{
    height: auto !important;
}

.single_news.preview{
    display: table;
    margin-bottom: 0;
    padding: 20px 20px 40px;
}

#addcomment.site_button,
form .site_button{
    width: 100%;
}

form input{
    display: block;
    width: 100%;
}

.countdown-container {
    padding: 15px 0;
    width: 100%;
}


.single_news.preview + .single_news.preview{
    padding-top: 40px;
    border-top: 1px solid #ddd;
}

.single_news.preview #news-data { /* поворачивать будем общий контейнер */
    width: 100%;
}

.single_news:not(.preview) .news_preview img{
    height: auto !important;
}

news.front {
    width: 100%;
    background-color: #EEE;
    display: table;
    position: relative;
}

news.front #newsMainImage{
    width: 100%;
}

news.front .news-main-image{
    z-index: 4;
    opacity: 0.99;
}

news.side{
    display: none;
}

news.front .front_news_title_box{
    z-index: 5;
    opacity: 0.99;
    width: 85%;
    position: absolute;
    bottom: 15px;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

news.front .front_news_title h2{
    text-align: center;
    padding: 20px;
    margin: 0;
}

news.front .front_news_title
{
    background: #FFF;
    position: relative;

    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    color: rgba(0,0,0, .8);
    text-shadow: 0 1px 0 #fff;
    line-height: 1.5;
    margin: 0 auto;
    padding: 0 10px;
}

news.front .front_news_title a:hover{
    text-decoration: none;
}

news.front .front_news_title:before,
news.front .front_news_title:after
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: rgba(0, 0, 0, 1) none repeat scroll 0% 0%;
    box-shadow: 0px 7px 6px 7px rgba(0, 0, 0, 1);

    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-border-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

news.front .front_news_title:after
{
    transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -o-border-transform: rotate(3deg);
    right: 10px;
    left: auto;
}

news.back .news_title_box{
    display: none;
}

.news-full-data .news_title_box{
    width: 100%;
}

.news-full-data .news_title{
    width: 100%;
    text-align: center;
}

.news-full-data .news_status{
    width: 100%;
    text-align: center;
}

.comment-form {
    margin-left: 0;
}

.comment-form #parent-info {
    display: table;
    margin-top: 15px;
    width: 100%;
    margin-left: 0;
}

a.remove-parent-link {
    padding: 5px 15px;
    font-size: 20px;
    clear: both;
    margin-top: 10px;
    display: block;
}

.newsColumn .items .single_news.preview {
    width: auto;
}

.countdown-container.expired{
    height: 70px;
}

.countdown-container.expired .countdown-title h3{
    margin-bottom: 15px;
    line-height: 100%;
    font-size: 40px;
}
