.newsColumn .items{
    margin: 0 auto;
    max-width: 600px;
}

.newsColumn .items .single_news.preview {
    width: auto;
}

.newsColumn .items .single_news.preview:nth-child(2n+1) {
    float: none;
    margin-left: 0;
}

.newsColumn .items .single_news.preview:nth-child(2n) {
    float: none;
    margin-right: 0;
}

.pager {
    max-width: 600px;
    display: table;
    margin: 0px auto;
    width: 90%;
    padding-top: 40px;
    border-top: 1px solid #DDD;
}

ul.news-pager li a {
    font-size: 13px;
}