.blured-page-image{
    display: none;
}

.content-box{
    padding: 0;
    padding-top: 2%;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

h1, h2, h3 {
    line-height: 35px;
}

#content h1{
    width: 100%;
    text-align: center;
}

.page-content {
    padding: 15px 30px;
}

.content-box > h1{
    width: 100%;
    text-align: center;

}

.countdown-container.expired{
    height: 40px;
}

.countdown-container.expired .countdown-title h3{
    margin-bottom: 0;
    font-size: 22px;
}

#addcomment.site_button,
form .site_button{
    width: 100%;
}

form {
    margin: 0 20px 20px;
}


.countdown-container {
    padding: 10px 0;
    width: 100%;
}

.countdown-title h3{
    font-size: 22px;
}

.countdown-row .countdown-section {
    font-size: 1em;
    min-width: 70px;
    line-height: 1;
}

.pager {
    padding-top: 20px;
}

hr.news-spliter{
    margin: 20px auto;
}

.newsColumn .items{
    width: 90%;
}

.single_news.preview{
    display: block;
}

news.front {
    width: 100%;
    background-color: transparent;
    display: table;
    position: relative;
}

news.front .news-main-image{
    display: none;
}

news.front .front_news_title_box{
    width: 100%;
    position: relative;
}

news.front .front_news_title h2{
    text-align: center;
    padding: 20px;
    margin: 0;
}

news.back .news_author{
    display: none;
}

news.back .news_preview{
    /*word-break: break-all;*/
}

.single_news:not(.preview) .news_title_box {
    margin-bottom: 20px;
}

.single_news:not(.preview) .news_title_box .news_title{
    width: 100%;
    text-align: center;
}

.single_news:not(.preview) .news_title_box .news_status{
    text-align: center;
    float: none;
}

.single_news:not(.preview) .news_footer_box .news_author {
    clear: both;
    display: block;

    float: none;
}

.single_news:not(.preview) .news_footer_box .news_date {
    clear: both;
    display: block;
    line-height: 30px;
    float: none;
}

.single_news:not(.preview) .news_footer_box .news_author::before{
    content: 'Автор: ';
}

.single_news:not(.preview) .news_footer_box .news_date::before{
    content: 'Создана: ';
}


.comment-form .comment_date{
    display: none;
}

.question-filter-box{
    display: none;
}

#outer-questions-box{
    padding: 0 20px;
}

.single_question {
    margin-bottom: 30px;
}

.single_news.preview {
    min-width: 0;
    height: auto;
}

.single_question .question-box {
    padding-top: 40px;
}

.question_actions {
    margin-top: -40px;
}

.question_edit_button, .question_approve_button, .question_delete_button {
    float: left;
    height: 30px;
    width: 30px;
    padding: 2px;
}


.single_question .question-box .question_info_box .question_author, .single_question .answer-box .answer_info_box .answer_author {
    display: block;
    float: none;
    margin-right: 0;
    width: 100%;
    text-align: center;
}

.single_question .question-box .question_info_box .question_date, .single_question .answer-box .answer_info_box .answer_date {
    display: block;
    float: none;
    width: 100%;
    text-align: center;
}

.single_question .question-box .question_status {
    display: none;
}

.pager .previous{
    display: none;
}

.pager .next{
    display: none;
}

.news_share{
    display: none;
}