.single_news.preview{
    position: relative;
    height: 300px;
    display: block;
    perspective: 2000px;
    transition: box-shadow 0.5s 1.3s;
    -moz-transition: box-shadow 0.5s 1.3s;
    -ms-transition: box-shadow 0.5s 1.3s;
    -webkit-transition: box-shadow 0.5s 1.3s;
    -o-transition: box-shadow 0.5s 1.3s;
    box-shadow: -5px 5px 4px #ddd;
    margin-bottom: 50px;
}

.news-preview-on-update > .single_news.preview{
    width: 600px !important;
    height: 300px !important;;
}

.single_news.preview:hover{
    transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    -ms-transition: box-shadow 0.3s;
    -webkit-transition: box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    box-shadow: none;
}

.single_news.preview #news-data { /* поворачивать будем общий контейнер */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 1s 0.5s linear;
    -moz-transition: transform 1s 0.5s linear;
    -ms-transition: transform 1s 0.5s linear;
    -webkit-transition: transform 1s 0.5s linear;
    -o-transition: transform 1s 0.5s linear;

    transform-style: preserve-3d;	/* указываем, что дочерние элементы находятся в 3D пространстве */
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;

}

.single_news.preview:hover #news-data{
    transform: rotateY( 180deg ) translate3d( 0, 0, 1px);
    -moz-transform: rotateY( 180deg ) translate3d( 0, 0, 1px);
    -ms-transform: rotateY( 180deg );
    -webkit-transform: rotateY( 180deg ) translate3d( 0, 0, 1px);
    -o-transform: rotateY( 180deg ) translate3d( 0, 0, 1px);

    transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
}

news{
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;

    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -o-backface-visibility: hidden;

    opacity: 0.99;
    -webkit-transform: scale(1);

    overflow: hidden;
}

news.front {
    width: 100%;
    box-sizing: border-box;
    background-color: #eee;
    z-index: 20;
    border: 1px solid #B6B6B6;
}

.single_news.preview:hover #news-data news.front {
    z-index: 5;
}

news.front .news-main-image{
    z-index: 4;
    opacity: 0.99;
    width: 100%;
    height: 100%;
    position: relative;
    display: table;
    overflow: hidden;
}

news.front .news-main-image .news-main-image-bg{
    background-size: 100% 100%;
    background-repeat: no-repeat;

    filter: blur(8px);
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);

    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);

    height: 100%;
    width: 100%;
    position: absolute;
}

news.front #newsMainImage{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

news.front .front_news_title_box{
    position:absolute;
    width: 100%;
    z-index: 5;
    opacity: 0.99;
    bottom: 15px;
}

news.front .front_news_title h2{
    text-align: center;
    padding: 20px;
    margin: 0;
}

news.front .front_news_title
{
    width: 70%;
    background: #FFF;
    position: relative;

    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    color: rgba(0,0,0, .8);
    text-shadow: 0 1px 0 #fff;
    line-height: 1.5;
    margin: 0 auto;
    padding: 0 10px;
}
news.front .front_news_title:before,
news.front .front_news_title:after
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: rgba(0, 0, 0, 1) none repeat scroll 0% 0%;
    box-shadow: 0px 7px 6px 7px rgba(0, 0, 0, 1);

    transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
}

news.front .front_news_title:after
{
    transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -o-transform: rotate(3deg);

    right: 10px;
    left: auto;
}


news.back {
    display: block;

    transform: rotateY(180deg)  translate3d( 0, 0, 40px);
    -moz-transform: rotateY(180deg)  translate3d( 0, 0, 40px);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg)  translate3d( 0, 0, 41px);
    -o-transform: rotateY(180deg)  translate3d( 0, 0, 40px);

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;

    padding: 20px;
    color: white;
    background-color: #fff;
    z-index: 10;
    border: 1px solid #B6B6B6;
}

news.side{
    background-color: #cccccc;
    width: 40px;
    height: 100%;

    transform: rotateY( -90deg ) translate3d(-40px, 0, 0);
    -moz-transform: rotateY( -90deg ) translate3d(-40px, 0, 0);
    -ms-transform: rotateY( -90deg );
    -webkit-transform: rotateY( -90deg ) translate3d(-40px, 0, 0);
    -o-transform: rotateY( -90deg ) translate3d(-40px, 0, 0);

    transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -webkit-transform-origin: left center;
    -o-transform-origin: left center;
}
