.single_news.preview{
    height: 230px;
    min-width: 490px;
}

.single_news.preview news.back .news_preview {
    height: 52%;
    font-size: 13px;
}

.countdown-container.expired{
    height: 90px;
}

.countdown-container.expired .countdown-title h3{
    margin-bottom: 15px;
    line-height: 100%;
    font-size: 45px;
}
